static/flows.json
[
    {
        "id": "2047965b.7556aa",
        "type": "tab",
        "label": "Earthquake Details",
        "disabled": false,
        "info": ""
    },
    {
        "id": "6d74cddb.8dddd4",
        "type": "tab",
        "label": "Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "443312be.efc2a4",
        "type": "subflow",
        "name": "rsoeedis_earthquake",
        "info": "",
        "in": [
            {
                "x": 517,
                "y": 120,
                "wires": [
                    {
                        "id": "8ae036dd.e82da8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1277,
                "y": 120,
                "wires": [
                    {
                        "id": "4fa848ad.af21a",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "d114d531.a01f5",
        "type": "ui_group",
        "z": "2047965b.7556aa",
        "name": "Tweets&Map",
        "tab": "2e5a79bd.c9874e",
        "order": 1,
        "disp": false,
        "width": "16",
        "collapse": false
    },
    {
        "id": "178e8f5.be2e471",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "6978be04.6f4468",
        "type": "ui_tab",
        "z": "",
        "name": "Dashboard",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c2922262.1724e",
        "type": "ui_group",
        "z": "",
        "name": "Map",
        "tab": "6978be04.6f4468",
        "order": 1,
        "disp": false,
        "width": "14",
        "collapse": false
    },
    {
        "id": "841a73c9.c63d6",
        "type": "ui_group",
        "z": "",
        "name": "Latest Tweet",
        "tab": "6978be04.6f4468",
        "order": 2,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "d21f9f1e.a0baa",
        "type": "ui_group",
        "z": "",
        "name": "Earthquake Frequency",
        "tab": "6978be04.6f4468",
        "order": 3,
        "disp": false,
        "width": "10",
        "collapse": false
    },
    {
        "id": "8ae036dd.e82da8",
        "type": "change",
        "z": "443312be.efc2a4",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"Content-Type\": \"application/JSON\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 120,
        "wires": [
            [
                "4af4305e.41c6c8"
            ]
        ]
    },
    {
        "id": "4af4305e.41c6c8",
        "type": "function",
        "z": "443312be.efc2a4",
        "name": "Use rsoeedis",
        "func": "var rsoeedis = global.get('rsoeedis');\n\nconst earthquakes = rsoeedis.RsoeEdisClient.earthquakes();\n\nearthquakes.then(result => {\n    node.status({fill:\"yellow\",shape:\"dot\",text:\"geting rsoeedis earthquakes info\"});\n    node.warn(\"rsoeedis earthquakes info retrieved\");\n    node.status({});   // to clear the status\n    \n    //function needs to perform an asynchronous action before sending a message\n    //it cannot return the message at the end of the function\n    node.send({payload:result,req:msg.req,res:msg.res});\n\n}).catch(error => {\n    node.status({fill:\"red\",shape:\"ring\",text:\"error\"});\n    node.error(\"Error!! \", error);\n});\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 890,
        "y": 120,
        "wires": [
            [
                "4fa848ad.af21a"
            ]
        ]
    },
    {
        "id": "4fa848ad.af21a",
        "type": "change",
        "z": "443312be.efc2a4",
        "name": "Set Earthquake Info",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.{\t\"Type\": Earthquake\",\t   \"Continent\":$replace(continent, \" &amp;\", \",\"),\t   \"Location\": $join([location, state, country], \", \"),\t   \"Magnitude\": magnitude,\t   \"Radial Distance\": $join([$string(\t       $round($power(\t           2.7182818284590452353602874713526624977572470936999595749669676277240766303535475945713821785251664274,\t           magnitude / 1.01 - 0.13\t       ),3)\t   ), \" km\"]),\t   \"Source\": source,\t   \"Event Date\": eventDate\t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1100,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3468e107.6ec69e",
        "type": "debug",
        "z": "2047965b.7556aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 1350,
        "y": 60,
        "wires": []
    },
    {
        "id": "1d9fa82c.2f5a3",
        "type": "debug",
        "z": "2047965b.7556aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 423,
        "y": 320,
        "wires": []
    },
    {
        "id": "5f218529.291b7c",
        "type": "search place",
        "z": "2047965b.7556aa",
        "query": "Location",
        "maxrows": "1",
        "style": "SHORT",
        "username": "",
        "debug": false,
        "name": "",
        "x": 443,
        "y": 380,
        "wires": [
            [
                "e59d8280.02f808",
                "65b4d9bd.9313f8"
            ]
        ]
    },
    {
        "id": "e59d8280.02f808",
        "type": "debug",
        "z": "2047965b.7556aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 623,
        "y": 320,
        "wires": []
    },
    {
        "id": "9d7bec2d.a8c04",
        "type": "split",
        "z": "2047965b.7556aa",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 1346,
        "y": 120,
        "wires": [
            [
                "f15f0486.bd22d8"
            ]
        ]
    },
    {
        "id": "f8bcb91c.1839e",
        "type": "change",
        "z": "2047965b.7556aa",
        "name": "Set GeoNames Query",
        "rules": [
            {
                "t": "set",
                "p": "query",
                "pt": "msg",
                "to": "payload.Location",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "details",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 213,
        "y": 380,
        "wires": [
            [
                "1d9fa82c.2f5a3",
                "5f218529.291b7c"
            ]
        ]
    },
    {
        "id": "65b4d9bd.9313f8",
        "type": "change",
        "z": "2047965b.7556aa",
        "name": "Set Lon & Lat",
        "rules": [
            {
                "t": "set",
                "p": "location.lon",
                "pt": "msg",
                "to": "payload.geonames[0].lng",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "location.lat",
                "pt": "msg",
                "to": "payload.geonames[0].lat",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 653,
        "y": 380,
        "wires": [
            [
                "a486375e.94a24"
            ]
        ]
    },
    {
        "id": "f35b78c1.ca6788",
        "type": "change",
        "z": "2047965b.7556aa",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\": parts.index,\t   \"Continent\":details.Continent,\t   \"Location\":details.Location,\t   \"Magnitude\":details.Magnitude,\t   \"Radial Distance\":details.\"Radial Distance\",\t   \"Source\":details.Source,\t   \"Event Date\":details.\"Event Date\",\t   \"longitude\": data.coord.lon,\t   \"latitude\":data.coord.lat,\t   \"Type\":details.Type,\t   \"Temperature\":data.main.temp,\t   \"Pressure\":data.main.pressure,\t   \"Humidity\":data.main.humidity,\t   \"Wind Speed\":data.wind.speed,\t   \"Wind Direction\":data.wind.deg,\t   \"Cloud Coverage\":data.clouds.all,\t   \"SIDC\" : \"EONPAC------\",\t   \"command\":{\t   \"heatmap\": {\t        \"gradient\": {\t            \"0.1\": \"blue\",\t            \"0.3\": \"green\",\t            \"0.6\": \"orange\",\t            \"0.9\": \"red\"\t        }\t    }\t   }\t   \t}\t",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 203,
        "y": 630,
        "wires": [
            [
                "ce0acb02.f9f93"
            ]
        ]
    },
    {
        "id": "6a46f8c0.3a3828",
        "type": "debug",
        "z": "2047965b.7556aa",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 923,
        "y": 580,
        "wires": []
    },
    {
        "id": "d63b2139.fc519",
        "type": "http response",
        "z": "2047965b.7556aa",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 923,
        "y": 630,
        "wires": []
    },
    {
        "id": "ce0acb02.f9f93",
        "type": "join",
        "z": "2047965b.7556aa",
        "name": "",
        "mode": "auto",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 403,
        "y": 630,
        "wires": [
            [
                "7d70ee24.f90168",
                "d63b2139.fc519"
            ]
        ]
    },
    {
        "id": "941a6a3a.dc09c8",
        "type": "change",
        "z": "2047965b.7556aa",
        "name": "Remove Unnecessary Properties",
        "rules": [
            {
                "t": "delete",
                "p": "details",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "location",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "data",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "time",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "description",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "query",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "title",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "statusCode",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 653,
        "y": 630,
        "wires": [
            [
                "6a46f8c0.3a3828"
            ]
        ]
    },
    {
        "id": "46c37d0f.0f7954",
        "type": "comment",
        "z": "2047965b.7556aa",
        "name": "Get Earthquake Info",
        "info": "Grab info on earthquakes that happened in the last 24 hrs",
        "x": 1046,
        "y": 40,
        "wires": []
    },
    {
        "id": "1682c4dd.61c7f3",
        "type": "http in",
        "z": "2047965b.7556aa",
        "name": "",
        "url": "/earthquakeinfo",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 153,
        "y": 115,
        "wires": [
            [
                "6feadfc8.d43718"
            ]
        ]
    },
    {
        "id": "56e0153b.3a07b4",
        "type": "comment",
        "z": "2047965b.7556aa",
        "name": "Create Custom Earthquake Web service",
        "info": "Create Custom Web service for getting earthquake details",
        "x": 213,
        "y": 35,
        "wires": []
    },
    {
        "id": "6feadfc8.d43718",
        "type": "link out",
        "z": "2047965b.7556aa",
        "name": "earthquake web service link out",
        "links": [
            "b7f069a1.b936c"
        ],
        "x": 288,
        "y": 115,
        "wires": []
    },
    {
        "id": "b7f069a1.b936c",
        "type": "link in",
        "z": "2047965b.7556aa",
        "name": "earthquake info link in",
        "links": [
            "6feadfc8.d43718"
        ],
        "x": 971,
        "y": 120,
        "wires": [
            [
                "43fab131.6702f"
            ]
        ]
    },
    {
        "id": "f15f0486.bd22d8",
        "type": "link out",
        "z": "2047965b.7556aa",
        "name": "earthquake info link out",
        "links": [
            "8609b641.82a598"
        ],
        "x": 1448,
        "y": 120,
        "wires": []
    },
    {
        "id": "8609b641.82a598",
        "type": "link in",
        "z": "2047965b.7556aa",
        "name": "coordinates info link in",
        "links": [
            "f15f0486.bd22d8"
        ],
        "x": 68,
        "y": 380,
        "wires": [
            [
                "f8bcb91c.1839e"
            ]
        ]
    },
    {
        "id": "4881049f.becefc",
        "type": "comment",
        "z": "2047965b.7556aa",
        "name": "Get Coordinates",
        "info": "Grab lat & lon based on location name",
        "x": 133,
        "y": 300,
        "wires": []
    },
    {
        "id": "a486375e.94a24",
        "type": "link out",
        "z": "2047965b.7556aa",
        "name": "coordinates info link out",
        "links": [
            "1f0fdba6.d1cfec"
        ],
        "x": 808,
        "y": 380,
        "wires": []
    },
    {
        "id": "ae047e3c.ac15f",
        "type": "comment",
        "z": "2047965b.7556aa",
        "name": "Set Earthquake Details for HTTP Response",
        "info": "",
        "x": 223,
        "y": 550,
        "wires": []
    },
    {
        "id": "ba59c22a.50c79",
        "type": "link in",
        "z": "2047965b.7556aa",
        "name": "earthquake web service link in",
        "links": [
            "4ff725c8.7f5ffc"
        ],
        "x": 68,
        "y": 630,
        "wires": [
            [
                "f35b78c1.ca6788"
            ]
        ]
    },
    {
        "id": "9c884e4b.fa7a7",
        "type": "openweathermap",
        "z": "2047965b.7556aa",
        "name": "",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "",
        "country": "",
        "language": "en",
        "x": 1143,
        "y": 380,
        "wires": [
            [
                "4ff725c8.7f5ffc",
                "be0029b3.f3a668"
            ]
        ]
    },
    {
        "id": "e00e781b.0ff22",
        "type": "comment",
        "z": "2047965b.7556aa",
        "name": "Get Weather Info",
        "info": "Grab info on current weather",
        "x": 1033,
        "y": 300,
        "wires": []
    },
    {
        "id": "1f0fdba6.d1cfec",
        "type": "link in",
        "z": "2047965b.7556aa",
        "name": "weather info link out",
        "links": [
            "a486375e.94a24"
        ],
        "x": 974,
        "y": 380,
        "wires": [
            [
                "9c884e4b.fa7a7"
            ]
        ]
    },
    {
        "id": "54480a96.bded04",
        "type": "status",
        "z": "2047965b.7556aa",
        "name": "",
        "scope": [
            "4e1bdc8e.6a947c"
        ],
        "x": 1193,
        "y": 620,
        "wires": [
            [
                "71090633.1e4ea8"
            ]
        ]
    },
    {
        "id": "71090633.1e4ea8",
        "type": "debug",
        "z": "2047965b.7556aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "status",
        "x": 1363,
        "y": 620,
        "wires": []
    },
    {
        "id": "4ff725c8.7f5ffc",
        "type": "link out",
        "z": "2047965b.7556aa",
        "name": "weather info link in",
        "links": [
            "ba59c22a.50c79"
        ],
        "x": 1308,
        "y": 380,
        "wires": []
    },
    {
        "id": "ea497f3e.a8a4e",
        "type": "catch",
        "z": "2047965b.7556aa",
        "name": "",
        "scope": [
            "4e1bdc8e.6a947c"
        ],
        "x": 1183,
        "y": 560,
        "wires": [
            [
                "6411e38.d44e91c"
            ]
        ]
    },
    {
        "id": "6411e38.d44e91c",
        "type": "debug",
        "z": "2047965b.7556aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "error",
        "x": 1353,
        "y": 560,
        "wires": []
    },
    {
        "id": "7e4f0569.e55ca4",
        "type": "comment",
        "z": "2047965b.7556aa",
        "name": "Get errors & status",
        "info": "",
        "x": 1223,
        "y": 480,
        "wires": []
    },
    {
        "id": "7d70ee24.f90168",
        "type": "debug",
        "z": "2047965b.7556aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 700,
        "wires": []
    },
    {
        "id": "be0029b3.f3a668",
        "type": "debug",
        "z": "2047965b.7556aa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1350,
        "y": 420,
        "wires": []
    },
    {
        "id": "43fab131.6702f",
        "type": "subflow:443312be.efc2a4",
        "z": "2047965b.7556aa",
        "name": "rsoeedis_earthquake",
        "env": [],
        "x": 1136,
        "y": 120,
        "wires": [
            [
                "3468e107.6ec69e",
                "9d7bec2d.a8c04"
            ]
        ]
    },
    {
        "id": "2cbf6358.b7b67c",
        "type": "http request",
        "z": "6d74cddb.8dddd4",
        "name": "Get Earthquake Info",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "<APPURL>/earthquakeinfo",
        "tls": "",
        "proxy": "",
        "x": 340,
        "y": 240,
        "wires": [
            [
                "af234cb1.e097a8"
            ]
        ]
    },
    {
        "id": "aae4cfc9.24e83",
        "type": "inject",
        "z": "6d74cddb.8dddd4",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": "10",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "2cbf6358.b7b67c"
            ]
        ]
    },
    {
        "id": "953b314.950a25",
        "type": "function",
        "z": "6d74cddb.8dddd4",
        "name": "Count",
        "func": "var arr = msg.payload;\n\nvar counts = {};\nfor (var i = 0; i < arr.length; i++) {\n    counts[arr[i]] = 1 + (counts[arr[i]] || 0);\n}\n\nmsg.payload = counts;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1136,
        "y": 440,
        "wires": [
            [
                "7c0dd2c.288e02c"
            ]
        ]
    },
    {
        "id": "880e0ca8.9f0e7",
        "type": "change",
        "z": "6d74cddb.8dddd4",
        "name": "Filter Areas",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Continent",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 936,
        "y": 440,
        "wires": [
            [
                "953b314.950a25"
            ]
        ]
    },
    {
        "id": "7c0dd2c.288e02c",
        "type": "function",
        "z": "6d74cddb.8dddd4",
        "name": "Earthquake Frequency",
        "func": "msg1 = {topic:\"Australia, New-Zealand\", payload:msg.payload[\"Australia, New-Zealand\"]};\nmsg2 = {topic:\"Asia\", payload:msg.payload.Asia};\nmsg3 = {topic:\"North-America\", payload:msg.payload[\"North-America\"]};\nmsg4 = {topic:\"South-America\", payload:msg.payload[\"South-America\"]};\nmsg5 = {topic:\"Europe\", payload:msg.payload.Europe};\nmsg6 = {topic:\"Africa\", payload:msg.payload.Africa};\n\nmsg7 = {topic:\"Middle-East\", payload:msg.payload[\"Middle-East\"]};\nmsg8 = {topic:\"Middle-America\", payload:msg.payload[\"Middle-America\"]};\nmsg9 = {topic:\"Indonesian Archipelago\", payload:msg.payload[\"Indonesian Archipelago\"]};\nmsg10 = {topic:\"Caribean Sea\", payload:msg.payload[\"Caribean Sea\"]};\nmsg11 = {topic:\"Pacific Ocean\", payload:msg.payload[\"Pacific Ocean\"]};\n\nreturn [msg1, msg2, msg3, msg4, msg5, msg6, msg7, msg8, msg9, msg10, msg11];",
        "outputs": 11,
        "noerr": 0,
        "x": 1356,
        "y": 440,
        "wires": [
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ],
            [
                "2effbea0.b819ca"
            ]
        ]
    },
    {
        "id": "cc5b95a2.9f7b5",
        "type": "template",
        "z": "6d74cddb.8dddd4",
        "name": "Display",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<iframe src=\"/worldmap\" height=670 width=670></iframe>",
        "x": 300,
        "y": 100,
        "wires": [
            [
                "3edf7215.21aefe"
            ]
        ]
    },
    {
        "id": "76136c7e.830264",
        "type": "comment",
        "z": "6d74cddb.8dddd4",
        "name": "Reflect Changes in /worldmap into Dashboard",
        "info": "",
        "x": 240,
        "y": 40,
        "wires": []
    },
    {
        "id": "1a2b3046.90f818",
        "type": "comment",
        "z": "6d74cddb.8dddd4",
        "name": "Send Points to /worldmap",
        "info": "",
        "x": 896,
        "y": 40,
        "wires": []
    },
    {
        "id": "e5bc7c8a.c57258",
        "type": "comment",
        "z": "6d74cddb.8dddd4",
        "name": "Send Points to /worldmap",
        "info": "",
        "x": 896,
        "y": 380,
        "wires": []
    },
    {
        "id": "af234cb1.e097a8",
        "type": "link out",
        "z": "6d74cddb.8dddd4",
        "name": "earthquake points link out",
        "links": [
            "3c6e8873.a4428",
            "8b895793.4700c8",
            "17faeb.18b64516"
        ],
        "x": 485,
        "y": 240,
        "wires": []
    },
    {
        "id": "17faeb.18b64516",
        "type": "link in",
        "z": "6d74cddb.8dddd4",
        "name": "earthquake points link in",
        "links": [
            "af234cb1.e097a8"
        ],
        "x": 801,
        "y": 100,
        "wires": [
            [
                "234d1628.ce50aa"
            ]
        ]
    },
    {
        "id": "fa332b59.4b595",
        "type": "comment",
        "z": "6d74cddb.8dddd4",
        "name": "Save to Cloudant DB",
        "info": "",
        "x": 886,
        "y": 180,
        "wires": []
    },
    {
        "id": "8b895793.4700c8",
        "type": "link in",
        "z": "6d74cddb.8dddd4",
        "name": "cloudant link in",
        "links": [
            "af234cb1.e097a8"
        ],
        "x": 801,
        "y": 240,
        "wires": [
            [
                "61cb92c3.8f92fc"
            ]
        ]
    },
    {
        "id": "3c6e8873.a4428",
        "type": "link in",
        "z": "6d74cddb.8dddd4",
        "name": "earthquake freq link in",
        "links": [
            "af234cb1.e097a8"
        ],
        "x": 801,
        "y": 440,
        "wires": [
            [
                "880e0ca8.9f0e7",
                "bb879b4.8dfc0e8"
            ]
        ]
    },
    {
        "id": "57db48a9.fc1228",
        "type": "comment",
        "z": "6d74cddb.8dddd4",
        "name": "Display Latest Tweet",
        "info": "",
        "x": 160,
        "y": 380,
        "wires": []
    },
    {
        "id": "54264f55.0d3ec",
        "type": "twitter in",
        "z": "6d74cddb.8dddd4",
        "twitter": "",
        "tags": "earthquake magnitude, earthquake hits",
        "user": "false",
        "name": "Earthquake Tweets",
        "inputs": 0,
        "x": 150,
        "y": 440,
        "wires": [
            [
                "64969847.34b788"
            ]
        ]
    },
    {
        "id": "bb879b4.8dfc0e8",
        "type": "debug",
        "z": "6d74cddb.8dddd4",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 500,
        "wires": []
    },
    {
        "id": "61cb92c3.8f92fc",
        "type": "cloudant out",
        "z": "6d74cddb.8dddd4",
        "name": "",
        "cloudant": "",
        "database": "earthquakeinfo",
        "service": "Earthquake Monitoring System-cloudantNoSQLDB",
        "payonly": false,
        "operation": "insert",
        "x": 940,
        "y": 240,
        "wires": []
    },
    {
        "id": "234d1628.ce50aa",
        "type": "split",
        "z": "6d74cddb.8dddd4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 916,
        "y": 100,
        "wires": [
            [
                "2cb9b58f.58d2ea"
            ]
        ]
    },
    {
        "id": "16350ccf.c552a3",
        "type": "inject",
        "z": "6d74cddb.8dddd4",
        "name": "",
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.1",
        "x": 128.57144165039062,
        "y": 100.71428680419922,
        "wires": [
            [
                "cc5b95a2.9f7b5"
            ]
        ]
    },
    {
        "id": "2cb9b58f.58d2ea",
        "type": "worldmap",
        "z": "6d74cddb.8dddd4",
        "name": "",
        "lat": "50",
        "lon": "-1",
        "zoom": "2",
        "layer": "OSM",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "hiderightclick": "false",
        "coords": "none",
        "path": "",
        "x": 1116,
        "y": 100,
        "wires": []
    },
    {
        "id": "64969847.34b788",
        "type": "ui_text",
        "z": "6d74cddb.8dddd4",
        "group": "841a73c9.c63d6",
        "order": 1,
        "width": "10",
        "height": "2",
        "name": "Latest Tweet",
        "label": "",
        "format": "{{msg.tweet.text}}",
        "layout": "row-center",
        "x": 370,
        "y": 440,
        "wires": []
    },
    {
        "id": "2effbea0.b819ca",
        "type": "ui_chart",
        "z": "6d74cddb.8dddd4",
        "name": "",
        "group": "d21f9f1e.a0baa",
        "order": 1,
        "width": "10",
        "height": "9",
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "Awaiting info",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1576,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "3edf7215.21aefe",
        "type": "ui_template",
        "z": "6d74cddb.8dddd4",
        "group": "c2922262.1724e",
        "name": "Map",
        "order": 1,
        "width": "14",
        "height": "13",
        "format": "<div align=center ng-bind-html=\"msg.payload | trusted\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "templateScope": "local",
        "x": 470,
        "y": 100,
        "wires": [
            []
        ]
    }
]